@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Tajawal', sans-serif;
    background-color: aliceblue;
}

header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../Images/background.jpg');
    background-position: center;
    background-size: cover;
}

.hero{
    border-bottom: 5px solid rgb(0, 0, 0);
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
}

img{display: block;}
.offset{position: absolute; left: -10000px;}

.proifle-picture-fighre img{
    width: 100%;
    height: auto;
    min-width: 100px;
    max-width: 300px;
    border: 2px solid white;
    border-radius: 50%;
}

.nowrap{
    white-space: nowrap;
}

h1{
    font-size: 8vw;
    text-shadow: 2px 2px 5px wheat;
}



nav{
    position: sticky;
    top: 0;
}

.nav{
    width:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(27, 27, 27);
    list-style: none;
    text-align: center;
    z-index: 1;
}

.nav-item{
    display: inline-block;
    margin: 0.7rem;
}

.nav-item a{
    color: rgba(245, 245, 245, 0.589);
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-item a:hover, a:focus{
    color: rgb(255, 255, 255);
}

.nav-item a:active{
    color: rgb(158, 132, 132);
}

.text{
    margin: 1.5rem;
    font-size: 2rem;
    line-height: auto;
}

.text a{
    text-decoration: none;
    font-size: 125%;
}
.text a:hover , .text a:focus{
    text-decoration: underline;
    font-size: 125%;
}

hr{
    border: 2px solid black;
}

article h2{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

article p{
    margin-left: 1.5rem;
    font-size: 2.2rem;
}

.contact-me{
    margin: 0;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}

.contact-me h2{
    margin: 0;
    padding: 0;
}

.contact-me a{
    text-decoration: none;
    color: #333;
}
.contact-me a:hover, .contact-me a:focus{
    text-decoration: underline;
    color: #333;
}

footer{
    text-align: center;
    font-size: 1.3rem;
    padding: 3rem;
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
}
